<div class="wrapper">
{% assign myString  = "Assign a variable myString. Can only assign strings, numbers, booleans." %}
<p> {{ myString }} </p>

{% capture myString2 %}
Anything in between capture open and end is assigned to myString2.
{% endcapture %}

<p> {{ myString2 }} </p>
</div>

<div class="wrapper">
  {% assign age = 20 %}
  {% assign sex = "male" %}
  {% assign placeOfBirth = "United States" %}
  {% assign string = "Hello World" %}

  {% if age > 20 or sex == "male" %}
    You can only view this text if you are 21+ or a male.
  {% elsif age > 17 and placeOfBirth == "United States" %}
    You can only view this text if you are 18+ and located in the United States
  {% else %}
    You are not 21+, not a male. You are also not 18+ and located in the United States.
  {% endif %}
</div>

<div class="wrapper">
  {% assign age = 20 %}
  {% assign sex = "male" %}
  {% assign placeOfBirth = "United States" %}
  {% assign string = "Hello World" %}

  {% unless string contains "World" %}
    String contains World.
  {% else %}
    Unless does not have else if
  {% endunless %}

</div>


<div class="wrapper">
  {% assign age = 20 %}
  {% assign sex = "male" %}
  {% assign placeOfBirth = "United States" %}
  {% assign string = "Hello World" %}

  {% case age %}
    {% when 20 %}
      <p> You are 20 years old. </p>
    {% when 21 %}
      <p> You are 21 years old. </p>
    {% else %}
      <p> You are not 24 or 21 years old. </p>
  {% endcase %}
</div>

<div class="wrapper">
  {% for collection in collections %}
    {{ forloop.index }}
    {% if collection.title == "Skip"%}
      {% continue %}
    {% elsif collection.title == "End Loop"%}
      {% break %}
    {% endif %}
    <p> {{ collection.title }} </p>
  {% else %}
    <p> Collections is empty. </p>
  {% endfor %}

  {% for i in (1..3) %}
    {{ i }}
  {% endfor %}
</div>